.App {
  text-align: center;
  background-color: rgb(9, 9, 9);
  color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ol img{
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 10px 5px 5px red;
  border: 4px solid;
}
ol {
  display: flex;
  list-style: none;
}
.list{
  display: flex;
  margin: 100px;
  flex-direction: column;
  border: 1px solid ;
  box-shadow: 10px 5px 5px blue;

}
ol .list .titre{
  background-color: rgb(76, 84, 81);

}